.purchaseContainer {
  background: #d0d0d0;
  width: 400px;
  padding: 8px;
  border-radius: 4px;
  margin: auto;
}

.rowData {
  width: calc(50% - 16px);
  margin: 4px;
  display: inline-block;
  text-align: left;
  font-size: 16px;
  color: #505050;
}

label {

}

input {

}
